.bingo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.bingo-top-labels {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  margin-left: 40px;
}

.bingo-label {
  color: #e0f7fa;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.15px;
  text-align: center;
  text-transform: uppercase;
}

.bingo-main {
  display: flex;
  align-items: flex-start;
}

.bingo-left-labels {
  display: grid;
  grid-template-rows: repeat(10, 80px);
  align-items: center;
  margin-right: 8px;
}

.bingo-left-labels {
  display: grid;
  grid-template-rows: repeat(10, 80px);
  margin-right: 8px;
  margin-top: 20px;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(10, 80px);
  border: 20px solid transparent;
  border-image: url('/images/frame.png') 30 round;
  width: fit-content;
  background-color: #001f2d;
}

.bingo-cell {
  width: 80px;
  height: 80px;
  background-image: url('/images/water_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.bingo-cell:hover {
  transform: scale(1.05);
}

.bingo-cell.active {
  background-image: url('/images/selected_team.png');
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.6);
}

.bingo-title {
  font-family: 'Girassol';
  font-weight: 400;
  font-style: normal;
  font-size: 32.81px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ff5252;
  margin-bottom: 6px;
  text-align: center;
  -webkit-text-stroke: 0.75px #350000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}