.fleet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    color: white;
}

.fleet-title {
    font-family: 'Girassol';
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #E5E5E5;

}

.fleet-columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.fleet-card {
    width: 382px;
    height: 948px;
    border-radius: 7px;
    box-shadow: 6px 4px 15.2px 0px #00000082;
    background: #C9936247;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
}

.fleet-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.fleet-card-title {
    font-family: 'Girassol';
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #E5E5E5;

}

.fleet-filter {
    background: #382b1d;
    border: none;
    border-radius: 12px;
    color: #C99362;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22.15px;
    text-transform: uppercase;
    padding: 6px 12px;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.fleet-filter option {
    background: #382b1d;
    color: #E5E5E5;
}

/* TODO: Improve dropdown filter selection */
.fleet-filter option:checked {
    background-color: #c99362;
    color: #ffffff;
}

.fleet-card-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}